<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label>Buscar</label>
				<input type="text" class="form-control" placeholder="Búsqueda" ng-model="buscar">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Teléfono</th>
						<th></th>
						<th></th>
					</tr>
					<tr ng-repeat="c in contactos | filter:buscar">
						<td>{{c.name}}</td>
						<td>{{c.phone}}</td>
						<td><a href="" ng-click="borrar(c.id)">Borrar</a></td>
						<td>Editar</td>
					</tr>
				</thead>
			</table>
		</div>
		<div class="col-md-4">
			<form>
				<div class="form-group">
					<label>Nombre</label>
					<input type="text" class="form-control" placeholder="Ej. Salma" ng-model="contacto.name">
				</div>
				<div class="form-group">
					<label>Teléfono</label>
					<input type="text" class="form-control" placeholder="Ej. 5543567812" ng-model="contacto.phone">
					<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>